.vote-wrapper {
   padding: 10px 20px;
   width: 68px;
   display: flex;
   flex-direction: column;
   text-align: center;
  .up-arrow,
  .down-arrow {
    cursor:pointer;
    margin: 5px;
    &.highlighted {
     color: yellow;
     font-weight: bold;
    }
  }
}